.banner {
    position: relative;
    width: 1200px;
    .wrap {
        display: block;
        overflow: hidden;
        img {
            display: block;
            width: 100%;
        }
    }
    .btn {
        position: absolute;
        right: 0;
        bottom: 0;
        border: none;
        background-color: #000;
        color: rgba(255, 255, 255, .8);
        cursor: pointer;
        transition: .3s;
        &:hover {
            color: #fff;
        }
        &:focus {
            outline: none;
        }
        &::after {
            content: '▼';
            display: block;
            float: right;
            margin-left: 3px;
            transform: rotateZ(-180deg);
        }
    }
    &.opened {
        .wrap {
            height: 300px;
            img {
                transform: translateY(0);
            }
        }
        .btn {
            &::after {
                transform: rotateZ(-180deg);
            }
        }
    }
    &.opening {
        .wrap {
            height: 300px;
            transition: .5s;
            img {
                transition: .5s;
            }
        }
    }
    &.closed {
        .wrap {
            height: 80px;
            img {
                transform: translateY(-300px);
            }
        }
        .btn {
            &::after {
                transform: rotateZ(0)
            }
        }
    }
    &.closing {
        .wrap {
            height: 80px;
            transition: .5s;
            img {
                transition: .5s;
            }
        }
    }
}